---
import Section from '@/components/Section.astro';

import { awards } from '@cv';

import ExternalLink from '@/icons/general/external-link.astro';
---

{
  awards.length ? (
    <Section title="Reconocimientos">
      <ul class="section__list">
        {awards.map(
          ({
            title,
            date,
            awarder,
            awarderUrl,
            summary,
            url,
          }: {
            title: string;
            url: string;
            date: string;
            awarder: string;
            summary: string;
            awarderUrl: string | null;
          }) => {
            const startYear = new Date(date).getFullYear();
            const startMonth = new Date(date).getMonth() + 1;
            return (
              <li class="list__element">
                <article class="element__card">
                  <header class="element__card__header">
                    <div class="header__flex-title">
                      <a
                        class="card__link--title"
                        href={url}
                        target="_blank"
                        title={`Ver el Reconocimiento de ${title}`}
                        rel="noopener noreferrer"
                      >
                        <h3 class="card__title">
                          {title}
                          <div class="title__externalLink">
                            <ExternalLink />
                          </div>
                        </h3>
                      </a>
                      <a
                        class="card__link--entity"
                        href={awarderUrl}
                        target="_blank"
                        title={`Ir a la pagina de ${awarder}`}
                        rel="noopener noreferrer"
                      >
                        <h4 class="card__entity">{awarder}</h4>
                      </a>
                    </div>
                    <time class="card__header__date">
                      {startMonth}/{startYear}
                    </time>
                  </header>
                  <p class="card__summary" set:html={summary} />
                </article>
              </li>
            );
          }
        )}
      </ul>
    </Section>
  ) : null
}

<style>
  .section__list {
    flex-direction: column;
  }

  .header__flex-title {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
  }

  @media (max-width: 845px) {
    .section__list,
    .card__summary {
      padding: 0;
    }

    .header__flex-title {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    .element__card__header {
      flex-direction: column-reverse;
      gap: 0.2rem;
    }
  }
</style>
