---
import Section from "@/components/Section.astro";

import { awards } from "@cv";
---

{
  awards.length ? (
    <Section title="Reconocimientos">
      <ul>
        {awards.map(
          ({
            title,
            date,
            awarder,
            awarderUrl,
            summary,
            url,
          }: {
            title: string;
            url: string;
            date: string;
            awarder: string;
            summary: string;
            awarderUrl: string | null;
          }) => {
            const startYear = new Date(date).getFullYear();
            const startMonth = new Date(date).getMonth() + 1;
            return (
              <li>
                <article>
                  <header>
                    <div>
                      <a
                        href={url}
                        target="_blank"
                        title={`Ver el Reconocimiento de ${title}`}
                        rel="noopener noreferrer"
                      >
                        <h3>{title}</h3>
                      </a>
                      <a
                        href={awarderUrl}
                        target="_blank"
                        title={`Ir a la pagina de ${awarder}`}
                        rel="noopener noreferrer"
                      >
                        <h4>{awarder}</h4>
                      </a>
                    </div>
                    <time>
                      {startMonth}/{startYear}
                    </time>
                  </header>
                  <p>{summary}</p>
                </article>
              </li>
            );
          }
        )}
      </ul>
    </Section>
  ) : null
}

<style>
  ul {
    flex-direction: column;
  }

  div {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
  }

  @media (max-width: 800px) {
    ul,
    p {
      padding: 0;
    }

    div {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    header {
      flex-direction: column-reverse;
      gap: 0.2rem;
    }

    footer {
      padding-inline: 0;
    }
  }
</style>
