---
import Section from "@/components/Section.astro";

import { education } from "@cv";
---

{
  education.length ? (
    <Section title="Educación">
      <ul>
        {education.map(
          ({
            institution,
            url,
            area,
            studyType,
            startDate,
            endDate,
            courses,
          }) => {
            const startYear = new Date(startDate).getFullYear();
            const endYear =
              endDate != null ? new Date(endDate).getFullYear() : "Actualmente";
            return (
              <li>
                <article>
                  <header>
                    <div id="divInstitution">
                      <a href={url}>
                        <h3>{institution}</h3>
                      </a>
                      <h4>{studyType}</h4>
                    </div>
                    <time>
                      {startYear} - {endYear}
                    </time>
                  </header>
                  <footer>
                    <h5>{area}</h5>
                    <div id="divCourses">
                      {courses.length
                        ? courses.map((course) => {
                            return course.url ? (
                              <a
                                id="courses"
                                href={course.url}
                                target="_blank"
                                rel="noopener noreferrer"
                              >
                                {course.name}
                              </a>
                            ) : (
                              <span>{course.name}</span>
                            );
                          })
                        : ""}
                    </div>
                  </footer>
                </article>
              </li>
            );
          }
        )}
      </ul>
    </Section>
  ) : null
}

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    padding-inline: 0.5rem;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  h3 {
    font-weight: 600;
    color: #222;
  }
  h4 {
    font-weight: 500;
    color: #555;
    font-size: small;
    border: 1px solid #888;
    border-radius: 5px;
    padding-inline: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  h5 {
    color: #555;
  }

  time {
    font-size: 0.85rem;
    color: #555;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 0.5rem;
  }

  #courses,
  span {
    color: #777;
    font-size: 0.65rem;
    background: #eee;
    border-radius: 5px;
    padding-inline: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: all 0.5s ease;
    line-height: normal;
  }

  #courses:hover {
    background: #cfcfcf;
    color: #555;
  }

  #divCourses {
    padding-top: 0.1rem;
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }

  @media (max-width: 800px) {
    ul {
      padding: 0;
    }
    #divInstitution {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    header {
      flex-direction: column-reverse;
      gap: 0.2rem;
    }

    footer {
      padding-inline: 0;
    }
  }
</style>
