---
import Section from "@/components/Section.astro";

import { education } from "@cv";
---

{
  education.length ? (
    <Section title="Educación">
      <ul class="section__list">
        {education.map(
          ({
            institution,
            url,
            area,
            studyType,
            startDate,
            endDate,
            courses,
          }: {
            institution: string;
            url: string;
            area: string;
            studyType: string;
            startDate: string;
            endDate: string | null;
            courses: { name: string; url?: string | null }[];
          }) => {
            const startMonth = new Date(startDate).getMonth() + 1 + "/";
            const startYear = new Date(startDate).getFullYear();
            const endYear =
              endDate != null ? new Date(endDate).getFullYear() : "Actualmente";
            const endMonth =
              endDate != null ? new Date(endDate).getMonth() + 1 + "/" : "";
            return (
              <li class="list__element">
                <article class="element__card">
                  <header class="element__card__header">
                    <div class="header__flex-title">
                      <a
                        class="card__link--title"
                        href={url}
                        target="_blank"
                        title={`Ver la página de ${institution}`}
                        rel="noopener noreferrer"
                      >
                        <h3 class="card__title">{institution}</h3>
                      </a>
                      <h4 class="card__entity">{studyType}</h4>
                    </div>
                    <time class="card__header__date">
                      {startMonth}
                      {startYear} - {endMonth}
                      {endYear}
                    </time>
                  </header>
                  <footer class="card__footer">
                    <h5 class="footer__title">{area}</h5>
                    <div class="footer__list">
                      {courses.length
                        ? courses.map((course) => {
                            return course.url ? (
                              <a
                                class="card__footer__link"
                                href={course.url}
                                target="_blank"
                                rel="noopener noreferrer"
                              >
                                {course.name}
                              </a>
                            ) : (
                              <span class="footer__list__element">
                                {course.name}
                              </span>
                            );
                          })
                        : ""}
                    </div>
                  </footer>
                </article>
              </li>
            );
          }
        )}
      </ul>
    </Section>
  ) : null
}

<style>
  .header__flex-title,
  .footer__list {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .card__footer {
    flex-direction: column;
  }

  .card__footer__link,
  .footer__list__element {
    border: var(--borderSkill);
    border-radius: var(--borderRadius);
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    transition: all 0.5s ease;
    line-height: normal;
    height: auto;
    background-color: inherit;
  }

  .card__footer__link {
    color: var(--colorSummary);
    font-size: var(--sizeSpanTag);
  }
  .card__footer__link:hover {
    background: var(--bgButtonHover);
  }

  .footer__list {
    padding-top: 0.1rem;
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }

  .card__link--title:hover {
    text-decoration: underline;
  }

  .card__title:hover {
    color: #666;
  }

  @media (max-width: 845px) {
    .section__list {
      padding: 0;
    }
    .header__flex-title {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    .element__card__header {
      flex-direction: column-reverse;
      gap: 0.2rem;
    }

    .card__footer {
      padding-inline: 0;
    }
  }
</style>
