---
import { basics } from "@cv";

import Section from "@/components/Section.astro";
import Home from "@/icons/Home.astro";
import World from "@/icons/World.astro";
import Email from "@/icons/Email.astro";
import Phone from "@/icons/Phone.astro";

import GitHub from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import FreeCodeCamp from "@/icons/FreeCodeCamp.astro";

const { name, label, image, url, email, phone, location, profiles } = basics;
const { region, city } = location;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
  FreeCodeCamp,
};
---

<Section>
  <div class="contenedorPrincipal">
    <!-- Apartado de Informacion del Hero -->
    <div class="informacion">
      <h1>{name}</h1>
      <h2>{label}</h2>

      <!-- Apartado de la Ubicacion -->
      <span>
        <Home />
        {city}, {region}
      </span>

      <!-- Apartado de los enlaces -->
      <footer>
        {
          url && (
            <a
              href={url}
              title={`Entrar en la pagina web: ${url}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              <World />
            </a>
          )
        }
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar email a ${name}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              <Email />
            </a>
          )
        }

        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`LLamar a ${name} al número ${phone}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              <Phone />
            </a>
          )
        }

        <!-- Map para recorrer los Profiles -->
        {profiles.map(({network, url}) => {
          const Icon = SOCIAL_ICONS[network]

          return (
            <a href={url}
            title=`Visitar el perfil de ${name} en ${network}`
            target="_blank"
            rel="noopener noreferrer"
            >
            <Icon/>
            </a>
          )

        })}
      </footer>
    </div>
    <figure>
      <img
        src={image}
        alt={name}
        width="150px"
      />
    </figure>
  </div>
</Section>

<style>
  .contenedorPrincipal {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .informacion {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

  }

  span {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 0.3rem;
    color: #666;
    letter-spacing: -0.1rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 900;
  }

  h2 {
    color: #555;
    font-size: 1.1rem;
    text-wrap: balance;
    font-weight: 600;
  }

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 0.2rem solid #777;
    border-radius: 100%;
  }

  footer {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.6rem;
    padding-left: 1rem;
  }

  a {
    color: #555;
    border: 1px solid #eee;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    width: 39px;
    height: 39px;
    transition: all 0.5s ease;
  }

  a:hover {
    background: #eee;
    border: 1px solid #777;
    color: #333;
  }

  @media(max-width: 580px) {

    .contenedorPrincipal {
      flex-direction: column-reverse;
      align-items: center;
    }

    .informacion {
      gap: 1rem;
    }

    h1 {
      text-align: center;
    }
    
    h2 {
      text-align: center;
      text-wrap: pretty;

    }
    
    span {
      justify-content: center;
    }
    
    footer{
      padding: 0;
      justify-content: center;
    }
    
    a {
      justify-content: center;
    }
  }
</style>
