---
import { basics } from "@cv";

import Section from "@/components/Section.astro";
import Home from "@/icons/hero/Home.astro";
import World from "@/icons/hero/World.astro";
import Email from "@/icons/hero/Email.astro";
import Phone from "@/icons/hero/Phone.astro";

import {SOCIAL_ICONS} from '@/records.astro'
import { Image } from "astro:assets";

const { name, label, subLabel, subLabelAuthor, image, url, email, phone, location, profiles } = basics;
const { region, city } = location;

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url


---

<Section>
  <div class="section__hero" >

    <!-- Apartado de Informacion del Hero -->
    <header class="hero__header">
      <div class="header__information">
        <h1 class="hero__name">{`< ` + `${name}` + ` />`}</h1>
        <h2 class="hero__label">{label}</h2>
        <blockquote class="hero__sublabel">
          <p class="sublabel__text">"{subLabel}".</p>
          <footer class="sublabel__author">- {subLabelAuthor}</footer>
        </blockquote>
       <!-- Apartado de la Ubicacion -->
       <span class="hero__location">
        <Home />
        {city}, {region}
      </span>
      </div>
      <figure class="hero__figure">
        <Image
          class="profile-img" 
          src={image}
          alt={name}
          width="150"
          height="150"
          loading="eager"
        />
      </figure>
    </header>

      <!-- Apartado de los enlaces -->

      <!-- Enlaces Print -->

      <footer class="card__footer--print">
        {
          email && (
            <a
              class="card__link"
              href={`mailto:${email}`}
              title={`Enviar email a ${name}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              {email}
            </a>
          )
        }

        {
          phone && (
            <a
              class="card__link"
              href={`https://wa.me/${phone}`}
              title={`Escribir a ${name} al Whatsapp ${phone}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              +{phone}
            </a>
          )
        }
        {
          linkedUrl && (
            <a
              class="card__link"  
              href={`mailto:${email}`}
              title={`Enviar email a ${name}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              {linkedUrl}
            </a>
          )
        }
      </footer>


      <!-- Enlaces web -->
      <footer class="card__footer">
        {
          url && (
            <a
            class="card__link"
            href={url}
              title={`Entrar en la pagina web: ${url}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              <World />
            </a>
          )
        }
        {
          email && (
            <a
            class="card__link"
            href={`mailto:${email}`}
              title={`Enviar email a ${name}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              <Email />
            </a>
          )
        }

        {
          phone && (
            <a
            class="card__link"
              href={`https://wa.me/${phone}`}
              title={`Escribir a ${name} al Whatsapp ${phone}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              <Phone />
            </a>
          )
        }

        <!-- Map para recorrer los Profiles -->
        {profiles.map(({network, url}) => {
          const Icon = SOCIAL_ICONS[network];

          return (
            <a 
            class="card__link"
            href={url}
            title=`Visitar el perfil de ${name} en ${network}`
            target="_blank"
            rel="noopener noreferrer"
            >
            <Icon/>
            </a>
          )

        })}
      </footer>
    </div>

</Section>

<style>

  .section__hero{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .hero__header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .header__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .hero__location {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-block: 0.3rem;
    letter-spacing: -0.1rem;
  }

  .hero__label {
    color: var(--colorSummary);
    font-size: 1.1rem;
    text-wrap: pretty;
    font-weight: var(--weightSkill);
  }
  
  .hero__sublabel{
    padding: 0.3rem 0.4rem;
    background-color: var(--bgSpanTag);
    border-radius: var(--borderRadius);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }

  .sublabel__text {
    display: inline;
    width: fit-content;
    color: var(--colorSummary);
    font-size: var(--sizeSummary);
    text-wrap: pretty;
  }

  .sublabel__author{
    display: inline;
    width: fit-content;
    border: none;
    font-size: var(--sizeSubTitleTag);
    color: var(--colorSpanTag);
    padding-inline: 1rem;
  }

  .hero__figure{
    display: flex;
    align-self: flex-start;
  }

  .card__link{
    background-color: var(--bgBody);
  }

  .card__footer, .card__footer--print {
    gap: 0.7rem;
    padding-top: 0.6rem;
    padding-left: 1rem;
  }

  .card__footer .card__link {
    color: var(--colorButton);
    border: var(--borderButton);
    border-radius: var(--borderRadius);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    width: 40px;
    height: 40px;
  }

  .card__footer .card__link:hover {
    background: var(--bgButtonHover);
    border-color: var(--colorBorderButtonHover);
    color: var(--colorButtonHover);
  }


  .card__footer--print {
      display: none;
    }

  @media(max-width: 610px) {

    .hero__header {
      flex-direction: column-reverse;
      gap: 1rem;
    }

    .header__information {
      align-items: center;
    }
    
    .hero__label {
      text-align: center;
      text-wrap: pretty;
    }

    .hero__sublabel{
      align-items: center;

    }

    .sublabel__text{
      text-align: center;
    }

    .sublabel__author{
      text-align: center;
    }
    
    .hero__location {
      justify-content: center;
      line-height: 0;
    }

    
  .hero__figure{
    align-self: center;
  }
    
    .card__footer, .card__footer--print{
      padding: 0;
      justify-content: center;
    }
    
    .card__link {
      justify-content: center;
    }
  }

  @media print {

    .card__footer, .card__footer--print {
      padding: 0;
    }
    .card__footer, .hero__sublabel {
      display: none;
    }

    .card__footer--print {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      padding-inline: 1rem;
      font-size: 0.8rem;
    }
  }
</style>
