---
import { basics } from "@cv";

import Section from "@/components/Section.astro";
import Home from "@/icons/hero/Home.astro";
import World from "@/icons/hero/World.astro";
import Email from "@/icons/hero/Email.astro";
import Phone from "@/icons/hero/Phone.astro";

import {SOCIAL_ICONS} from '@/records.astro'
import { Image } from "astro:assets";

const { name, label, image, url, email, phone, location, profiles } = basics;
const { region, city } = location;

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url


---

<Section>
  <div class="section__hero" >
    <!-- Apartado de Informacion del Hero -->
    <header class="hero__header">
      <h1 class="hero__name">{name}</h1>
      <h2 class="hero__label">{label}</h2>

      <!-- Apartado de la Ubicacion -->
      <span class="hero__location">
        <Home />
        {city}, {region}
      </span>

      <!-- Apartado de los enlaces -->

      <!-- Enlaces Print -->

      <footer class="card__footer--print">
        {
          email && (
            <a
              class="card__link"
              href={`mailto:${email}`}
              title={`Enviar email a ${name}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              {email}
            </a>
          )
        }

        {
          phone && (
            <a
              class="card__link"
              href={`https://wa.me/${phone}`}
              title={`Escribir a ${name} al Whatsapp ${phone}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              +{phone}
            </a>
          )
        }
        {
          linkedUrl && (
            <a
              class="card__link"  
              href={`mailto:${email}`}
              title={`Enviar email a ${name}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              {linkedUrl}
            </a>
          )
        }
      </footer>


      <!-- Enlaces web -->
      <footer class="card__footer">
        {
          url && (
            <a
            class="card__link"
            href={url}
              title={`Entrar en la pagina web: ${url}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              <World />
            </a>
          )
        }
        {
          email && (
            <a
            class="card__link"
            href={`mailto:${email}`}
              title={`Enviar email a ${name}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              <Email />
            </a>
          )
        }

        {
          phone && (
            <a
            class="card__link"
              href={`https://wa.me/${phone}`}
              title={`Escribir a ${name} al Whatsapp ${phone}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              <Phone />
            </a>
          )
        }

        <!-- Map para recorrer los Profiles -->
        {profiles.map(({network, url}) => {
          const Icon = SOCIAL_ICONS[network];

          return (
            <a 
            class="card__link"
            href={url}
            title=`Visitar el perfil de ${name} en ${network}`
            target="_blank"
            rel="noopener noreferrer"
            >
            <Icon/>
            </a>
          )

        })}
      </footer>
    </header>
    <figure>
      <Image
        class="profile-img" 
        src={image}
        alt={name}
        width="150"
        height="150"
        loading="eager"
      />
    </figure>
  </div>
</Section>

<style>
  .section__hero {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .hero__header {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

  }

  .hero__location {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-block: 0.3rem;
    letter-spacing: -0.1rem;
  }

  .hero__label {
    color: var(--colorSummary);
    font-size: 1.1rem;
    text-wrap: balance;
    font-weight: var(--weightSkill);
  }


  .card__footer, .card__footer--print {
    gap: 0.7rem;
    padding-top: 0.6rem;
    padding-left: 1rem;
  }

  .card__footer .card__link {
    color: var(--colorButton);
    border: var(--borderButton);
    border-radius: var(--borderRadius);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    width: 40px;
    height: 40px;
  }

  .card__footer .card__link:hover {
    background: var(--bgButtonHover);
    border-color: var(--colorBorderButtonHover);
    color: var(--colorButtonHover);
  }


  .card__footer--print {
      display: none;
    }

  @media(max-width: 580px) {

    .section__hero {
      flex-direction: column-reverse;
      align-items: center;
    }

    .hero__header {
      gap: 1rem;
    }

    .hero__header {
      align-items: center;
    }
    
    .hero__label {
      text-align: center;
      text-wrap: pretty;

    }
    
    .hero__location {
      justify-content: center;
      line-height: 0;
    }
    
    .card__footer, .card__footer--print{
      padding: 0;
      justify-content: center;
    }
    
    .card__link {
      justify-content: center;
    }
  }

  @media print {

    .card__footer, .card__footer--print {
      padding: 0;
    }
    .card__footer {
      display: none;
    }

    .card__footer--print {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      padding-inline: 1rem;
      font-size: 0.8rem;
    }
  }
</style>
