---
import { basics } from "@cv";

import Section from "@/components/Section.astro";
import Home from "@/icons/hero/Home.astro";
import World from "@/icons/hero/World.astro";
import Email from "@/icons/hero/Email.astro";
import Phone from "@/icons/hero/Phone.astro";

import {SOCIAL_ICONS} from '@/records.astro'
import { Image } from "astro:assets";

const { name, label, image, url, email, phone, location, profiles } = basics;
const { region, city } = location;

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url


---

<Section>
  <div class="contenedorPrincipal">
    <!-- Apartado de Informacion del Hero -->
    <div class="informacion">
      <h1>{name}</h1>
      <h2>{label}</h2>

      <!-- Apartado de la Ubicacion -->
      <span>
        <Home />
        {city}, {region}
      </span>

      <!-- Apartado de los enlaces -->

      <!-- Enlaces Print -->

      <footer id="printFooter">
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar email a ${name}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              {email}
            </a>
          )
        }

        {
          phone && (
            <a
              href={`https://wa.me/${phone}`}
              title={`Escribir a ${name} al Whatsapp ${phone}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              +{phone}
            </a>
          )
        }
        {
          linkedUrl && (
            <a
              href={`mailto:${email}`}
              title={`Enviar email a ${name}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              {linkedUrl}
            </a>
          )
        }
      </footer>


      <!-- Enlaces web -->
      <footer id="webFooter">
        {
          url && (
            <a
              href={url}
              title={`Entrar en la pagina web: ${url}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              <World />
            </a>
          )
        }
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar email a ${name}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              <Email />
            </a>
          )
        }

        {
          phone && (
            <a
              href={`https://wa.me/${phone}`}
              title={`Escribir a ${name} al Whatsapp ${phone}`}
              target="_blank"
              rel="nonpener noreferrer"
            >
              <Phone />
            </a>
          )
        }

        <!-- Map para recorrer los Profiles -->
        {profiles.map(({network, url}) => {
          const Icon = SOCIAL_ICONS[network];

          return (
            <a href={url}
            title=`Visitar el perfil de ${name} en ${network}`
            target="_blank"
            rel="noopener noreferrer"
            >
            <Icon/>
            </a>
          )

        })}
      </footer>
    </div>
    <figure>
      <Image 
        src={image}
        alt={name}
        width="150"
        height="150"
        loading="eager"
      />
    </figure>
  </div>
</Section>

<style>
  .contenedorPrincipal {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .informacion {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

  }

  span {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 0.3rem;
    color: #666;
    letter-spacing: -0.1rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 900;
  }

  h2 {
    color: #555;
    font-size: 1.1rem;
    text-wrap: balance;
    font-weight: 600;
  }

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 0.2rem solid #777;
    border-radius: 100%;
  }

  footer {
    display: flex;
    gap: 0.7rem;
    padding-top: 0.6rem;
    padding-left: 1rem;
  }

  #webFooter a {
    color: #555;
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    width: 39px;
    height: 39px;
    transition: all 0.5s ease;
  }

  a:hover {
    background: #f6f6f6;
    border: 1px solid #777;
    color: #333;
  }

  #printFooter {
      display: none;
    }

  @media(max-width: 580px) {

    .contenedorPrincipal {
      flex-direction: column-reverse;
      align-items: center;
    }

    .informacion {
      gap: 1rem;
    }

    h1 {
      text-align: center;
    }
    
    h2 {
      text-align: center;
      text-wrap: pretty;

    }
    
    span {
      justify-content: center;
      line-height: 0;
    }
    
    footer{
      padding: 0;
      justify-content: center;
    }
    
    a {
      justify-content: center;
    }
  }

  @media print {

    footer {
      padding: 0%;
    }
    #webFooter {
      display: none;
    }

    #printFooter {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      padding-inline: 1rem;
      font-size: 0.8rem;
    }
  }
</style>
