---
import Section from "@/components/Section.astro";
import { languages } from "@cv";
---

{
  languages.length ? (
    <Section title="Idiomas">
      <ul>
        {languages.map(({ language, fluency, certificates }) => {
          return (
            <li>
              <article>
                <h3>{language}</h3>
                <h4>{fluency}</h4>
              </article>
              <footer>
                {certificates.map(({ name, url }) => {
                  return url ? (
                    <a
                      id="courses"
                      href={url}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {name}
                    </a>
                  ) : (
                    <span>{name}</span>
                  );
                })}
              </footer>
            </li>
          );
        })}
      </ul>
    </Section>
  ) : (
    []
  )
}

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    justify-content: center;
  }

  li {
    border: var(--borderCard);
    border-radius: 5px;
    padding: 0.7rem;
    height: 100%;
    box-shadow: 0 1px 1px #f2f2f2;
  }

  article {
    gap: 0.15rem;
  }

  h3:hover {
    color: var(--colorTitleElement);
    text-decoration: none;
  }

  h4 {
    color: #555;
    font-weight: 900;
    border: none;
    font-size: 1rem;
  }

  footer {
    padding-block: 0.2rem;
    padding-inline: 1rem;
  }

  a {
    padding-inline: 0.5rem;
  }
  a,
  span {
    color: var(--colorButton);
    font-size: 0.65rem;
    border: var(--borderSkill);
    border-radius: var(--borderRadius);
    padding-block: 0.2rem;
    transition: all 0.5s ease;
    line-height: normal;
  }

  a:hover {
    background: var(--bgButtonHover);
    color: var(--colorButtonHover);
  }

  @media (max-width: 645px) {
    ul {
      padding-inline: 0;
    }
  }
</style>
