---
import Section from "@/components/Section.astro";
import GitHub from "@/icons/hero/GitHub.astro";
import { SKILLS_ICONS } from "@/records.astro";
import { validateHighlight } from "@/services/validateHighliht";

import { projects } from "@cv";
---

{
  projects.length ? (
    <Section title="Proyectos">
      <ul>
        {projects.map(({ name, description, url, highlights, github }) => {
          return (
            <li>
              <article>
                <header>
                  <div class="contenedorHeader">
                    {url ? (
                      <a
                        class="tituloProyecto"
                        href={url}
                        title={`Ver el proyecto: ${name}`}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <h3>{name}</h3>
                      </a>
                    ) : (
                      <span
                        class="tituloNoRef"
                        title={`No se puede acceder al despliegue del proyecto ${name}`}
                      >
                        <h3>{name}</h3>
                      </span>
                    )}
                    {github && (
                      <a
                        class="contenedorGitHub"
                        href={github}
                        target="_blank"
                        title={`Ver código fuente del proyecto ${name}`}
                      >
                        <GitHub />
                      </a>
                    )}
                  </div>
                  <p>{description}</p>
                </header>
                <footer>
                  <div id="divHighliht">
                    {highlights.map((highlight) => {
                      const iconName = validateHighlight(highlight);
                      let IconFinal;
                      const Icon =
                        SKILLS_ICONS[iconName] !== undefined
                          ? (IconFinal = SKILLS_ICONS[iconName])
                          : (IconFinal = SKILLS_ICONS["Generic"]);
                      return (
                        <span>
                          {IconFinal && <Icon />}
                          {highlight}
                        </span>
                      );
                    })}
                  </div>
                </footer>
              </article>
            </li>
          );
        })}
      </ul>
    </Section>
  ) : null
}

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    justify-content: center;
  }

  article {
    gap: 1rem;
    border: var(--borderCard);
    border-radius: var(--borderRadius);
    padding: 0.7rem;
    height: 100%;
    box-shadow: var(--shadowCard);
  }

  header {
    display: block;
  }
  .contenedorHeader {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.3rem;
    min-height: 36px;
  }

  .contenedorGitHub {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 0.3rem;
    display: flex;
  }

  .contenedorGitHub:hover {
    background: #f6f6f6;
    border-color: #777;
    color: #555;
  }

  a {
    display: inline-flex;
    color: #444;
  }

  .tituloNoRef {
    color: #444;
    font-size: 1rem;
  }
  .tituloProyecto:hover {
    text-decoration: underline;
  }

  a:hover {
    color: #666;
  }

  #divHighliht {
    display: flex;
    padding-inline: 0.5rem;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }

  p {
    font-size: 0.75rem;
    line-height: 1.1rem;
    margin-bottom: 0.5rem;
  }

  @media (max-width: 660px) {
    ul {
      padding-inline: 0;
    }
  }

  @media print {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    a span {
      display: none;
    }

    .contenedorGitHub {
      display: none;
    }

    .contenedorHeader {
      padding-bottom: 0.5rem;
    }
  }
</style>
