---
import Section from "@/components/Section.astro";
import GitHub from "@/icons/hero/GitHub.astro";
import { SKILLS_ICONS } from "@/records.astro";

import { projects } from "@cv";
---

<Section title="Proyectos">
  <ul>
    {
      projects.map(({ name, description, url, highlights, github }) => {
        return (
          <li>
            <article>
              <header>
                <div id="contenedorHeader">
                  <a
                    id="tituloProyecto"
                    href={url}
                    title={`Ver el proyecto: ${name}`}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <h3>{name}</h3>
                  </a>

                  {github && (
                    <div id="contenedorGitHub">
                      <a
                        class="github-code-link"
                        href={github}
                        target="_blank"
                        title={`Ver código fuente del proyecto ${name}`}
                      >
                        <GitHub />
                      </a>
                    </div>
                  )}
                </div>
                <p>{description}</p>
              </header>
              <footer>
                <div id="divHighliht">
                  {highlights.map((highlight) => {
                    const iconName =
                      highlight === "Next.js"
                        ? "Next"
                        : highlight === "Astro"
                          ? "Astrojs"
                          : highlight;

                    const Icon = SKILLS_ICONS[iconName];

                    const IconFinal = !SKILLS_ICONS[Icon]
                      ? SKILLS_ICONS["Generic"]
                      : SKILLS_ICONS[Icon];
                    return (
                      <span>
                        {IconFinal && <Icon />}
                        {highlight}
                      </span>
                    );
                  })}
                </div>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    padding-inline: 0.5rem;
    justify-content: center;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    padding: 0.7rem;
    height: 100%;
    box-shadow: 0 1px 1px #f2f2f2;
  }

  #contenedorHeader {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.3rem;
    min-height: 36px;
  }

  #contenedorGitHub {
    border-radius: 100%;
    background: #f6f6f6;
    padding: 0.3rem;
    display: flex;
  }

  a {
    display: inline-flex;
    color: #444;
  }

  #tituloProyecto:hover {
    text-decoration: underline;
  }

  a:hover {
    color: #666;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-inline: 0.5rem;
  }

  #divHighliht {
    display: flex;
    padding-inline: 0.5rem;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    padding-top: 0.5rem;
  }

  footer span {
    display: flex;
    color: #777;
    font-size: 0.6rem;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
    line-height: normal;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  p {
    font-size: 0.75rem;
    line-height: 1.1rem;
    margin-bottom: 0.5rem;
    padding-inline: 0.5rem;
  }

  @media (max-width: 660px) {
    ul {
      padding-inline: 0;
    }
  }

  @media print {
    a span {
      display: none;
    }

    #contenedorGitHub {
      display: none;
    }

    #contenedorHeader {
      padding-bottom: 0.5rem;
    }
  }
</style>
