---
import Section from "@/components/Section.astro";

import { publications } from "@cv";
---

{
  publications.length ? (
    <Section title="Publicaciones">
      <ul>
        {publications.map(
          ({
            name,
            publisher,
            releaseDate,
            url,
            summary,
          }: {
            name: string;
            url: string;
            publisher: string;
            summary: string;
            releaseDate: string;
          }) => {
            const startYear = new Date(releaseDate).getFullYear();
            const startMonth = new Date(releaseDate).getMonth() + 1 + "/";
            return (
              <li>
                <article>
                  <header>
                    <div>
                      <a
                        href={url}
                        target="_blank"
                        id="titulo"
                        title={`Ver la publicación sobre ${name}`}
                        rel="noopener noreferrer"
                      >
                        <h3>{name}</h3>
                      </a>
                      <h4>{publisher}</h4>
                    </div>
                    <time>
                      {startMonth}/{startYear}
                    </time>
                  </header>
                  <footer>
                    <p>{summary}</p>
                  </footer>
                </article>
              </li>
            );
          }
        )}
      </ul>
    </Section>
  ) : null
}

<style>
  div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  h5 {
    color: #555;
  }

  footer {
    flex-direction: column;
  }

  #titulo:hover {
    text-decoration: underline;
  }

  @media (max-width: 800px) {
    ul {
      padding: 0;
    }
    div {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    header {
      flex-direction: column-reverse;
      gap: 0.2rem;
    }

    footer {
      padding-inline: 0;
    }
  }
</style>
