---
import Section from "@/components/Section.astro";

import { publications } from "@cv";
---

{
  publications.length ? (
    <Section title="Publicaciones">
      <ul class="section__list">
        {publications.map(
          ({
            name,
            publisher,
            publisherUrl,
            releaseDate,
            url,
            summary,
          }: {
            name: string;
            url: string;
            publisher: string;
            publisherUrl: string;
            summary: string;
            releaseDate: string;
          }) => {
            const startYear = new Date(releaseDate).getFullYear();
            const startMonth = new Date(releaseDate).getMonth() + 1 + "/";
            return (
              <li class="list__element">
                <article class="element__card">
                  <header class="element__card__header">
                    <div class="header__flex-title">
                      <a
                        class="card__link--title"
                        href={url}
                        target="_blank"
                        id="titulo"
                        title={`Ver la publicación sobre ${name}`}
                        rel="noopener noreferrer"
                      >
                        <h3 class="card__title">{name}</h3>
                      </a>
                      <a
                        class="card__link--entity"
                        href={publisherUrl}
                        target="_blank"
                        title={`Ir a la pagina de ${publisher}`}
                        rel="noopener noreferrer"
                      >
                        <h4 class="card__entity">{publisher}</h4>
                      </a>
                    </div>
                    <time class="card__date">
                      {startMonth}/{startYear}
                    </time>
                  </header>
                  <footer class="card__footer">
                    <p class="card__summary">{summary}</p>
                  </footer>
                </article>
              </li>
            );
          }
        )}
      </ul>
    </Section>
  ) : null
}

<style>
  .header__flex-title {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .card__footer {
    flex-direction: column;
  }

  #titulo:hover {
    text-decoration: underline;
  }

  @media (max-width: 845px) {
    .list__element {
      padding: 0;
    }
    .header__flex-title {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    .element__card__header {
      flex-direction: column-reverse;
      gap: 0.2rem;
    }

    .card__footer {
      padding-inline: 0;
    }
  }
</style>
