---
import Section from "@/components/Section.astro";

import { references } from "@cv";
import { Image } from "astro:assets";
---

{
  references.length ? (
    <Section title="Referencias">
      <ul class="section__list">
        {references.map(({ name, reference, url, image, relationship }) => {
          return (
            <li class="list__element">
              <article class="element__card">
                <header class="element__card__header">
                  <div class="header__flex-title">
                    <figure>
                      <Image
                        class="profile-img"
                        src={image}
                        alt={name}
                        width="60"
                        height="60"
                        loading="lazy"
                      />
                    </figure>
                    <div class="body-data">
                      <a
                        class="card__link--title"
                        href={url}
                        title={`Ver el perfil de ${name}`}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <h3 class="card__title">{name}</h3>
                      </a>
                      <h4 class="card__entity">{relationship}</h4>
                    </div>
                  </div>
                  <p class="card__summary">"{reference}"</p>
                </header>
              </article>
            </li>
          );
        })}
      </ul>
    </Section>
  ) : null
}

<style>
  .section__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
    justify-content: center;
  }

  .element__card {
    justify-content: space-between;
    border: var(--borderCard);
    border-radius: var(--borderRadius);
    padding: 0.7rem;
    height: 100%;
    box-shadow: var(--shadowCard);
  }

  .profile-img {
    border-width: 0.1rem;
  }

  .element__card__header {
    display: block;
  }

  .header__flex-title {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    padding-bottom: 0.5rem;
    min-height: 36px;
  }

  .body-data {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;
  }

  .card__link--title {
    display: inline-flex;
    color: var(--colorSubTitleTag);
  }

  .card__link--title:hover {
    text-decoration: underline;
    color: var(--colorLinkHover);
  }

  .card__summary {
    font-size: 0.75rem;
    line-height: 1.1rem;
  }

  .card__title {
    font-size: 1.05rem;
  }

  @media (max-width: 660px) {
    .section__list {
      grid-template-columns: 1fr;
    }
    .section__list,
    .card__summary {
      padding-inline: 0;
    }
  }

  @media (max-width: 280px) {
    .header__flex-title {
      flex-direction: column;
      gap: 0.5rem;
    }
    .body-data {
      align-items: center;
    }
  }

  @media print {
    .header__flex-title {
      padding-bottom: 0.5rem;
    }
  }
</style>
