---
import Section from "@/components/Section.astro";
import ExternalLink from "@/icons/general/external-link.astro";
import { SKILLS_ICONS } from "@/records.astro";
import { validateHighlight } from "@/services/validateHighliht";

import { volunteer } from "@cv";
---

{
  volunteer.length ? (
    <Section title="Voluntariado">
      <ul class="section__list">
        {volunteer.map(
          ({
            organization,
            position,
            url,
            startDate,
            endDate,
            summary,
            highlights,
          }: {
            organization: string;
            position: string;
            url: string | null;
            startDate: string;
            endDate: string | null;
            summary: string;
            highlights: string[];
          }) => {
            const startMonth = new Date(startDate).getMonth() + 1 + "/";
            const startYear = new Date(startDate).getFullYear();
            const endYear =
              endDate != null ? new Date(endDate).getFullYear() : "Actualmente";
            const endMonth =
              endDate != null ? new Date(endDate).getMonth() + 1 + "/" : "";
            return (
              <li class="list__element">
                <article class="element__card">
                  <header class="element__card__header">
                    <div class="header__flex-title">
                      {url != null ? (
                        <a
                          class="card__link--title"
                          href={url}
                          title={`Ver la página de la organización ${organization}`}
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <h3 class="card__title">
                            {organization}
                            <div class="title__externalLink">
                              <ExternalLink />
                            </div>
                          </h3>
                        </a>
                      ) : (
                        <h3 class="card__title">{organization}</h3>
                      )}
                      <h4 class="card__entity">{position}</h4>
                    </div>
                    <time class="card__date">
                      {startMonth}
                      {startYear} - {endMonth}
                      {endYear}
                    </time>
                  </header>
                  <footer class="card__footer">
                    <p class="card__summary">{summary}</p>
                    <div class="footer__list">
                      {highlights.map((highlight) => {
                        const iconName = validateHighlight(highlight);

                        let IconFinal;
                        const Icon =
                          SKILLS_ICONS[iconName] !== undefined
                            ? (IconFinal = SKILLS_ICONS[iconName])
                            : (IconFinal = SKILLS_ICONS["Generic"]);
                        return (
                          <span class="footer__list__element">
                            {IconFinal && <Icon />}
                            {highlight}
                          </span>
                        );
                      })}
                    </div>
                  </footer>
                </article>
              </li>
            );
          }
        )}
      </ul>
    </Section>
  ) : null
}

<style>
  .element__card {
    padding-top: 0.3rem;
  }

  .header__flex-title,
  .footer__list {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .footer__list {
    display: flex;
    padding-inline: 0.5rem;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }

  @media (max-width: 845px) {
    .section__list {
      padding: 0;
    }
    .header__flex-title {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    .element__card__header {
      flex-direction: column-reverse;
      gap: 0.2rem;
    }

    .card__summary,
    .card__footer,
    .footer__list {
      padding-inline: 0;
    }
  }
</style>
