---
import Section from "@/components/Section.astro";
import { SKILLS_ICONS } from "@/records.astro";
import { validateHighlight } from "@/services/validateHighliht";

import { volunteer } from "@cv";
---

{
  volunteer.length ? (
    <Section title="Voluntariado">
      <ul>
        {volunteer.map(
          ({
            organization,
            position,
            url,
            startDate,
            endDate,
            summary,
            highlights,
          }: {
            organization: string;
            position: string;
            url: string | null;
            startDate: string;
            endDate: string | null;
            summary: string;
            highlights: string[];
          }) => {
            const startMonth = new Date(startDate).getMonth() + 1 + "/";
            const startYear = new Date(startDate).getFullYear();
            const endYear =
              endDate != null ? new Date(endDate).getFullYear() : "Actualmente";
            const endMonth =
              endDate != null ? new Date(endDate).getMonth() + 1 + "/" : "";
            return (
              <li>
                <article>
                  <header>
                    <div id="divPosition">
                      {url != null ? (
                        <a
                          href={url}
                          title={`Ver la página de la organización ${organization}`}
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <h3>{organization}</h3>
                        </a>
                      ) : (
                        <h3>{organization}</h3>
                      )}
                      <h4>{position}</h4>
                    </div>
                    <time>
                      {startMonth}
                      {startYear} - {endMonth}
                      {endYear}
                    </time>
                  </header>
                  <footer>
                    <p>{summary}</p>
                    <div id="divHighliht">
                      {highlights.map((highlight) => {
                        const iconName = validateHighlight(highlight);

                        let IconFinal;
                        const Icon =
                          SKILLS_ICONS[iconName] !== undefined
                            ? (IconFinal = SKILLS_ICONS[iconName])
                            : (IconFinal = SKILLS_ICONS["Generic"]);
                        return (
                          <span>
                            {IconFinal && <Icon />}
                            {highlight}
                          </span>
                        );
                      })}
                    </div>
                  </footer>
                </article>
              </li>
            );
          }
        )}
      </ul>
    </Section>
  ) : null
}

<style>
  article {
    padding-top: 0.3rem;
  }

  div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  #divHighliht {
    display: flex;
    padding-inline: 0.5rem;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }

  @media (max-width: 800px) {
    ul {
      padding: 0;
    }
    #divPosition {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    header {
      flex-direction: column-reverse;
      gap: 0.2rem;
    }

    footer {
      padding-inline: 0;
    }
    #divHighliht {
      padding-inline: 0rem;
    }
  }
</style>
