---
interface Props {
  title: string;
}

const { title } = Astro.props;

import { basics, openGraph } from "@cv";
const { name } = basics;
const { titleOG, description, url, previewImage } = openGraph;

import Header from "@/components/header/Header.astro";
import DownloadButton from "@/components/DownloadButton.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="author"
      content=`${name}`
    />
    <meta
      name="keywords"
      content="portfolio, portafolio, porfolio, cv, curriculum vitae, portafolio minimalista, Mickel Arroz"
    />
    <meta
      name="description"
      content=`Portafolio Minimalista de ${name}`
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      id="favicon"
      rel="icon"
      type="image/svg+xml"
      href="/favicon-dark.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <!-- Open Graph / Facebook -->
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:url"
      content={url}
    />
    <meta
      property="og:title"
      content={titleOG}
    />
    <meta
      property="og:description"
      content={description}
    />
    <meta
      property="og:image"
      content={previewImage}
    />

    <!-- Twitter -->
    <meta
      property="twitter:card"
      content="summary_large_image"
    />
    <meta
      property="twitter:url"
      content={url}
    />
    <meta
      property="twitter:title"
      content={titleOG}
    />
    <meta
      property="twitter:description"
      content={description}
    />
    <meta
      property="twitter:image"
      content={previewImage}
    />

    <title>{title}</title>

    <script>
      if (!localStorage.getItem("theme"))
        window.matchMedia("(prefers-color-scheme: dark)").matches
          ? localStorage.setItem("theme", "dark")
          : localStorage.setItem("theme", "light");
      if (
        !(
          document.documentElement.classList.contains("dark") ||
          document.documentElement.classList.contains("light")
        )
      )
        if (localStorage.getItem("theme"))
          document.documentElement.classList.add(
            `${localStorage.getItem("theme")}`
          );

      // Apartado para modificar los estilos del Favicon

      const updateFavicon = () => {
        const favicon = document.getElementById("favicon") as HTMLLinkElement;
        const isDarkMode = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;

        if (isDarkMode) {
          favicon.href = "/favicon-dark.svg"; // Favicon para tema oscuro
        } else {
          favicon.href = "/favicon-light.svg"; // Favicon para tema claro
        }
      };

      // Actualiza el favicon al cargar la página
      updateFavicon();

      // Escucha cambios en la preferencia de tema
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", updateFavicon);
    </script>
  </head>

  <body>
    <div class="parent">
      <div class="child"></div>
      <Header />
      <slot />
      <div id="download__main">
        <DownloadButton />
      </div>
    </div>
  </body>

  <style is:global>
    /*    ----    VARIABLES     ----     */

    /* Variables genericas globales */
    :root {
      /* Tamaño del texto de los elementos */
      --sizeTitle: 2rem;
      --sizeSummary: 0.9rem;
      --sizeSubTitle: 1.5rem;
      --sizeTitleElement: 1.2rem;
      --sizeSubTitleTag: 0.8rem;
      --sizeSpanTag: 0.6rem;
      --sizeTime: 0.85rem;

      --sizeLineHeightTexto: 1.5rem;

      --weightSkill: 600;

      --borderRadius: 5px;

      --paddingXGeneric: 0.5rem;
    }

    /* Se deja esto para evitar el "parpadeo" antes de que entre el JS */
    @media (prefers-color-scheme: light) {
      :root {
        /* Color del texto de los elementos */
        --colorTitle: #111;
        --colorSubTitle: #222;
        --colorTitleElement: #333;
        --colorSubTitleTag: #444;
        --colorSummary: #555;
        --colorStudyArea: #555;

        --colorSpanTag: #666;
        --colorLinkHover: #666;
        --colorButton: #777;
        --colorButtonHover: #555;
        --colorBorderButtonHover: #666;
        --colorTime: #666;
        --colorSkill: #555;

        /* Color del fondo de los elementos */
        --bgBody: #fafafa;
        --bgSpanTag: #f1f1f1;
        --bgButtonHover: #f3f3f3;
        --bg-keyboard: #fff;
        --bg-keyboard__key: #eee;
        --bg-snipet: #e7e7e733;

        /* Bordes de los elementos */
        --borderImg: 0.2rem solid #999;
        --borderCard: 1px solid #dfdfdf;
        --borderSubTitleTag: 1px solid #777;
        --borderSkill: 1px solid #888;
        --borderButton: 1px solid #eee;

        --shadowCard: 0 1px 1px #f2f2f2;

        /* Ninja-keys */
        ninja-keys {
          --ninja-overflow-background: rgba(255, 255, 255, 0.5);
          --ninja-text-color: rgb(60, 65, 73);
          --ninja-accent-color: rgb(110, 94, 210);
          --ninja-secondary-background-color: rgb(239, 241, 244);
          --ninja-secondary-text-color: rgb(107, 111, 118);
          --ninja-selected-background: rgb(248, 249, 251);
          --ninja-icon-color: var(--ninja-secondary-text-color);
          --ninja-modal-background: #fff;
          --ninja-modal-shadow: rgb(0 0 0 / 50%) 0px 16px 70px;
          --ninja-group-text-color: rgb(144, 149, 157);
          --ninja-footer-background: rgba(242, 242, 242, 0.4);
          --ninja-placeholder-color: #8e8e8e;
        }
      }

      /* Navegadores basados en WebKit (Chrome, Edge, Safari) */
      ::-webkit-scrollbar-thumb {
        background: #888; /* Color del "pulgarcito" */
      }

      /* Firefox */
      html {
        scrollbar-color: #888 #f1f1f1; /* Color del "pulgarcito" y del fondo */
      }
    }
    @media (prefers-color-scheme: dark) {
      :root {
        --colorTitle: #fafafa;
        --colorSubTitle: #eaeaea;
        --colorTitleElement: #dcdcdc;
        --colorSubTitleTag: #bfbfbf;
        --colorSummary: #bbb;
        --colorStudyArea: #a9a9a9;

        --colorSpanTag: #8f8f8f;
        --colorLinkHover: #cccccc;
        --colorButton: #bbbbbb;
        --colorButtonHover: #e0e0e0;
        --colorBorderButtonHover: #d0d0d0;
        --colorTime: #8f8f8f;
        --colorSkill: #a9a9a9;

        --bgBody: #181818;
        --bgSpanTag: #202020;
        --bgButtonHover: #303030;
        --bg-keyboard: #1c1c1c;
        --bg-keyboard__key: #2a2a2a;
        --bg-snipet: #4f4f4f;

        --borderImg: 0.2rem solid #555;
        --borderCard: 1px solid #444;
        --borderSubTitleTag: 1px solid #666;
        --borderSkill: 1px solid #555;
        --borderButton: 1px solid #333;

        --shadowCard: 0 1px 1px #000;

        /* Ninja-keys */
        ninja-keys {
          --backgroundOverflowModal: rgba(0, 0, 0, 0.6);
          --backgroundModal: #000;

          --ninja-overflow-background: rgba(0, 0, 0, 0.5);
          --ninja-text-color: rgb(220, 220, 230);
          --ninja-accent-color: rgb(120, 150, 250);
          --ninja-secondary-background-color: rgb(40, 45, 50);
          --ninja-secondary-text-color: rgb(180, 180, 190);
          --ninja-selected-background: rgb(60, 65, 70);
          --ninja-icon-color: var(--ninja-secondary-text-color);

          --ninja-modal-background: rgb(30, 30, 35);
          --ninja-modal-shadow: rgb(0 0 0 / 50%) 0px 16px 70px;
          --ninja-group-text-color: rgb(170, 170, 180);
          --ninja-footer-background: rgba(20, 20, 25, 0.4);
          --ninja-placeholder-color: #6e6e6e;
        }
      }
      /* Navegadores basados en WebKit (Chrome, Edge, Safari) */
      ::-webkit-scrollbar-thumb {
        background: #666; /* Color del "pulgarcito" */
      }

      /* Firefox */
      html {
        scrollbar-color: #666 #2c2c2c; /* Color del "pulgarcito" y del fondo */
      }
    }

    * {
      transition: all 0.5s ease;
    }

    /* ------- ESTILOS DE TEMA --------- */
    .dark {
      --colorTitle: #fafafa;
      --colorSubTitle: #eaeaea;
      --colorTitleElement: #dcdcdc;
      --colorSubTitleTag: #bfbfbf;
      --colorSummary: #bbb;
      --colorStudyArea: #a9a9a9;

      --colorSpanTag: #8f8f8f;
      --colorLinkHover: #cccccc;
      --colorButton: #bbbbbb;
      --colorButtonHover: #e0e0e0;
      --colorBorderButtonHover: #d0d0d0;
      --colorTime: #8f8f8f;
      --colorSkill: #a9a9a9;

      --bgBody: #181818;
      --bgSpanTag: #202020;
      --bgButtonHover: #303030;
      --bg-keyboard: #1c1c1c;
      --bg-keyboard__key: #2a2a2a;
      --bg-snipet: #4f4f4f2e;

      --borderImg: 0.2rem solid #555;
      --borderCard: 1px solid #444;
      --borderSubTitleTag: 1px solid #666;
      --borderSkill: 1px solid #555;
      --borderButton: 1px solid #333;

      --shadowCard: 0 1px 1px #000;

      /* Ninja-keys */
      ninja-keys {
        --backgroundOverflowModal: rgba(0, 0, 0, 0.6);
        --backgroundModal: #000;

        --ninja-overflow-background: rgba(0, 0, 0, 0.5);
        --ninja-text-color: rgb(220, 220, 230);
        --ninja-accent-color: rgb(120, 150, 250);
        --ninja-secondary-background-color: rgb(40, 45, 50);
        --ninja-secondary-text-color: rgb(180, 180, 190);
        --ninja-selected-background: rgb(60, 65, 70);
        --ninja-icon-color: var(--ninja-secondary-text-color);

        --ninja-modal-background: rgb(30, 30, 35);
        --ninja-modal-shadow: rgb(0 0 0 / 50%) 0px 16px 70px;
        --ninja-group-text-color: rgb(170, 170, 180);
        --ninja-footer-background: rgba(20, 20, 25, 0.4);
        --ninja-placeholder-color: #6e6e6e;

        --ninja-actions-height: 600px;
        --ninja-top: 15%;
        --ninja-z-index: 99;
      }
    }

    .light {
      /* Color del texto de los elementos */
      --colorTitle: #111;
      --colorSubTitle: #222;
      --colorTitleElement: #333;
      --colorSubTitleTag: #444;
      --colorSummary: #555;
      --colorStudyArea: #555;

      --colorSpanTag: #666;
      --colorLinkHover: #666;
      --colorButton: #777;
      --colorButtonHover: #555;
      --colorBorderButtonHover: #666;
      --colorTime: #666;
      --colorSkill: #555;

      /* Color del fondo de los elementos */
      --bgBody: #fafafa;
      --bgSpanTag: #f1f1f1;
      --bgButtonHover: #f3f3f3;
      --bg-keyboard: #fff;
      --bg-keyboard__key: #eee;
      --bg-snipet: #e7e7e7bb;

      /* Bordes de los elementos */
      --borderImg: 0.2rem solid #999;
      --borderCard: 1px solid #dfdfdf;
      --borderSubTitleTag: 1px solid #777;
      --borderSkill: 1px solid #888;
      --borderButton: 1px solid #eee;

      --shadowCard: 0 1px 1px #f2f2f2;

      /* Ninja-keys */
      ninja-keys {
        --ninja-overflow-background: rgba(255, 255, 255, 0.5);
        --ninja-text-color: rgb(60, 65, 73);
        --ninja-accent-color: rgb(110, 94, 210);
        --ninja-secondary-background-color: rgb(239, 241, 244);
        --ninja-secondary-text-color: rgb(107, 111, 118);
        --ninja-selected-background: rgb(248, 249, 251);
        --ninja-icon-color: var(--ninja-secondary-text-color);
        --ninja-modal-background: #fff;
        --ninja-modal-shadow: rgb(0 0 0 / 50%) 0px 16px 70px;
        --ninja-group-text-color: rgb(144, 149, 157);
        --ninja-footer-background: rgba(242, 242, 242, 0.4);
        --ninja-placeholder-color: #8e8e8e;

        --ninja-actions-height: 600px;
        --ninja-top: 15%;
        --ninja-z-index: 99;
      }
    }

    /* -------- ESTILOS SNIPET BACKGROUND ------- */
    .parent {
      position: relative;
      height: 100dvh;
      width: 100%;
      background-color: var(--bgBody);
    }

    .child {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;

      background-image: linear-gradient(
          to right,
          var(--bg-snipet) 1px,
          transparent 1px
        ),
        linear-gradient(to bottom, var(--bg-snipet) 1px, transparent 1px);

      background-size: 14px 24px;
      -webkit-mask-image: radial-gradient(
        ellipse 80% 50% at 50% 0%,
        #000 70%,
        transparent 110%
      );
      mask-image: radial-gradient(
        ellipse 80% 50% at 50% 0%,
        #000 70%,
        transparent 110%
      );
    }

    /* --------   Resetear estilos CSS  -------- */

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    html {
      font-family: monospace, "Courier New", Courier;
      letter-spacing: 0.05rem;
    }

    body,
    figure {
      margin: 0;
      padding: 0;
      background-color: var(--bgBody);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }

    blockquote {
      margin: 0;
      padding: 0;
    }

    /* --------------------------------- */

    article {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
    }

    footer {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding-inline: 0.5rem;
    }

    header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 1.5rem;
    }

    /*  ----  ESTILOS DE LAS LISTAS ----   */
    ul {
      list-style: none;
      margin: 0;
      padding-block: 0;
      padding-inline: 0.5rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1.5rem;
    }

    footer span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      color: var(--colorSkill);
      font-size: 0.6rem;
      background-color: var(--bgSpanTag);
      border-radius: var(--borderRadius);
      padding: 0.2rem 0.5rem;
      line-height: normal;
      height: 30px;
    }

    img {
      aspect-ratio: 1/1;
      object-fit: cover;
      border: var(--borderImg);
      border-radius: var(--borderRadius);
    }

    /* ----     ESTILOS PARA LOS TITULOS   ----   */

    h1 {
      color: var(--colorTitle);
      font-size: var(--sizeTitle);
      text-wrap: nowrap;
    }

    h2 {
      color: var(--colorSubTitle);
      font-size: var(--sizeSubTitle);
    }

    h3 {
      color: var(--colorTitleElement);
      font-size: var(--sizeTitleElement);
      font-weight: 600;
      text-wrap: pretty;
    }

    h3:hover {
      color: var(--colorLinkHover);
      text-decoration: underline;
    }

    h4 {
      color: var(--colorSubTitleTag);
      font-size: var(--sizeSubTitleTag);
      font-weight: 500;
      border: var(--borderSkill);
      border-radius: var(--borderRadius);
      padding-inline: 0.5rem;
      padding-block: 0.2rem;
      background-color: var(--bgBody);
    }

    a:hover h4 {
      background-color: var(--bgSpanTag);
    }

    h5 {
      color: var(--colorSubTitleTag);
      font-size: var(--sizeSubTitleTag);
    }

    /*  ----  ESTILOS DE LOS ENLACES   ---- */
    a {
      text-decoration: none;
      transition: all 0.3s ease;
    }
    a:hover:not(:has(h3)) {
      transform: scale(1.1);
    }

    /* Estilo para los botones */
    button:hover {
      transform: scale(1.1);
    }

    /* Elemento separador entre svg del enlace y el titulo h3 */

    .card__title {
      position: relative;
      width: fit-content;
    }

    .title__externalLink {
      display: inline-block;
      width: fit-content;
      position: relative;
      top: 2.5px;
      left: 4px;
    }

    /*  ----  ESTILOS PARA LA ETIQUETA TIME ----   */
    time {
      font-size: var(--sizeTime);
      color: var(--colorTime);
    }

    /*  ----  ESTILOS DEL TEXTO NORMAL  ----   */
    p,
    span {
      color: var(--colorSummary);
      font-size: var(--sizeSummary);
      line-height: var(--sizeLineHeightTexto);
      margin: 0;
      padding: 0;
      text-wrap: pretty;
      padding-inline: 0.5rem;
    }

    /* APARTADO DE ESTILOS DEL KEYBOARD MANAGER */
    .keyboard {
      border-top: var(--borderCard);
      background-color: var(--bg-keyboard);
      padding-block: 0.2rem;
      position: fixed;
      bottom: 0px;
      width: 100%;
      color: var(--colorButton);
      font-size: 0.95rem;
      justify-content: center;
    }

    .keyboard__key {
      background: var(--bg-keyboard__key);
      padding: 2px 4px;
      border-radius: var(--borderRadius);
      font-size: x-small;
    }

    /* Estilos para el boton de Descargar */

    .div__DownloadButton {
      display: none;
      position: fixed;
      right: 1.5rem;
      bottom: 2.5rem;
    }

    @media (max-width: 804px) {
      .div__DownloadButton {
        display: block;
      }
    }
    @media (max-width: 711px) {
      .div__DownloadButton {
        display: none;
      }
    }

    /* Estilos para la barra de navegacion */
    .nav__header {
      padding: 0 1rem;
      top: 0;
      background-color: var(--bg-keyboard);
      position: fixed;
      width: 100%;
      min-height: 70px;
      z-index: 10;

      align-items: center;
      gap: 2rem;
    }

    /* Apartado para el boton fixed para Descargar CV */
    #download__main {
      position: fixed;
      right: 0.7rem;
      bottom: 1.5rem;
    }
    /* Apartado para el boton fixed para cambiar el tema */

    @media (min-width: 366px) {
      #download__main {
        display: none;
      }
    }

    /* Apartado para ocultar los atajos y estilos al imprimir */
    @media print {
      ninja-keys {
        display: none;
      }
      .nav__header {
        display: none;
      }
      * {
        color: #000 !important;
      }
      #download__main {
        display: none;
      }

      .icon-tabler-external-link {
        display: none;
      }
    }
  </style>
</html>
